*{
  background-color: #272834;
  color: white;
  font-family: "Ubuntu" sans-serif;
}

h1{
  text-align: center;
}

.Para{
  color:black;
  background-color:aliceblue;
  width:fit-content;
  padding:1px 4px;
  border:none;
  border-radius:5px;
  margin:auto;
  font-size:13px;
  font-weight:bold;
  text-align:center;
}

@media only screen and (max-width:321px){
  .Para{
    color:black;
    background-color:aliceblue;
    width:80%;
    padding:1px 2px;
    border:none;
    border-radius:5px;
    margin:auto;
    font-size:13px;
    font-weight:bold;
    text-align:center;
  }
}